body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #efd8d8;
}
/* div{
    display: flex;
    justify-content: center;
} */
div{
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
     font-weight: 600;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 50px;
}
.btn{
    padding: 20px;
    font-size: 30px;
    color: black;
    background-color: #cec0c0;
    border-radius: 5px;
    margin: 20px;
}
span{
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #e7dcdc;
    padding: 30px;
    border: 2px solid black;
    font-size: 30px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


